[Unit]
Description=Internet of Agents Service (User)
After=network.target

[Service]
Type=oneshot
WorkingDirectory={{ app_dir }}/agents
EnvironmentFile={{ home_dir }}/.config/internet_of_agents.env
ExecStart=/bin/bash -c 'source {{ home_dir }}/.config/internet_of_agents.env && {{ app_dir }}/agents/start_running_agents.sh'
RemainAfterExit=yes

[Install]
WantedBy=default.target 